HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE FILES ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea/
*.iws
*.iml
*.ipr
.vscode/

### BUILD FILES ###
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### SPRING / SECRETS ###
.env
.env.local
.env.*.local
application-dev.properties
application.properties

*.jks
*.keystore
*.pem
*.p12

### LOGS / TEMP ###
*.log
*.tmp
*.cache
*.DS_Store
